/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lumo-wp-plugin-tab-item {
	&.lumo-tab-item {
        position: relative;
		display: block;
        opacity: 1;
	}

    .lumo-tab-item__header {
        padding-top: var(--wp--preset--spacing--extra-large);
        margin-block: var(--wp--preset--spacing--small);
    }

    .lumo-tab-item__content {
        margin-block: var(--wp--preset--spacing--extra-large);
    }
}
