/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lumo-wp-plugin-tab-item {
	&.lumo-tab-item {
		display: none;
		grid-area: 1 / 1;
		opacity: 0;
		transition: opacity 200ms ease, display 200ms ease allow-discrete;

		&.current-tab {
			display: block;
			opacity: 1;
		}

		@starting-style {
			&.current-tab {
				opacity: 0;
			}
		}
	}
}